@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@400;

600;700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

li {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a {
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  background: #f5f5f5;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Для контейнера картинок в карточках - технический класс*/

[class*=__ibg] {
  position: relative;
  /*Для самих картинок в карточках технический класс*/
}

[class*=__ibg] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #FFFFFF;
  color: rgba(39, 39, 39, 0.7);
  font-size: 15px;
  line-height: 1.6;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.no-webp .header{
  background: url(../img/header/bg.jpg) bottom center/cover no-repeat; }

.header {
  padding: 32px 0 13.46%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 600;
  margin-bottom: 141px;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  margin: 0 -25px;
}

.header__item {
  padding: 0 25px;
}

.header__link {
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header__link:hover {
  opacity: 1;
}

.header__link--active {
  opacity: 1;
}

.header__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__btn {
  padding: 8px 43px;
}

.header__btn--active {
  background: #FFFFFF;
  border-radius: 20px;
  color: #250F8A;
}

.header__mobile {
  max-height: 40px;
  margin: 0 -10px;
}

.header__mobile-item {
  padding: 0 10px;
}

.header__burger {
  display: none;
  width: 40px;
  height: 4px;
  background: #FFFFFF;
  position: relative;
}

.header__burger:before,
.header__burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  height: 4px;
  background: #FFFFFF;
}

.header__burger:before {
  top: -10px;
}

.header__burger:after {
  top: 10px;
}

.header__user {
  display: none;
  width: 40px;
}

.header__user svg {
  fill: white;
}

.header__slider-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin-right: 81px;
}

.header__block {
  color: #FFFFFF;
  max-width: 506px;
}

.header__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.33;
  margin-bottom: 10px;
}

.header__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 60px;
}

.header__button {
  display: inline-block;
  padding: 13px 39px;
  background: #FFCA00;
  border-radius: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: #250F8A;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__button:hover {
  opacity: 0.8;
}

.header__picture {
  max-width: 516px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header__img {
  width: 100%;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__dots {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -5px 0;
}

.header__dots li {
  padding: 5px 0;
}

.header__dots button {
  font-size: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
}

.header__dots button:hover {
  opacity: 0.8;
}

.header__dots .slick-active button {
  -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
          transform: translateX(-25%);
  border-radius: 3.5px;
  width: 15px;
}

.header__dots .slick-disabled {
  display: none;
}

.title {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 35px;
  line-height: 1.29;
  color: #202020;
  text-align: center;
}

.specialised {
  padding: 55px 0 93px;
  background: url(../img/specialised/style-left.svg) left center no-repeat;
}

.specialised__container {
  max-width: 980px;
  margin: 0 auto;
}

.specialised__title {
  margin-bottom: 98px;
}

.specialised__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -35px;
}

.specialised__item {
  padding: 0 35px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  width: 280px;
}

.specialised__card {
  text-align: center;
}

.specialised__ibg {
  padding: 0px 0px 58.5% 0px;
  max-width: 236px;
  margin: 0 auto;
  margin-bottom: 22px;
}

.specialised__img {
  width: 100%;
}

.specialised__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 7px;
}

.advantages {
  padding: 85px 0 55px;
  background: #F4F9FD url(../img/info/style-right.svg) right center no-repeat;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item:not(:last-child) {
  margin-bottom: 50px;
}

.advantages__item:nth-child(2n) .advantages__block {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.advantages__item:nth-child(2n) .advantages__picture {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.advantages__block {
  padding-top: 68px;
  padding-left: 47px;
  max-width: 455px;
}

.advantages__block--experienced {
  background: url(../img/info/experienced-bg.svg) top 20px left 15px no-repeat;
}

.advantages__block--information {
  background: url(../img/info/information-bg.svg) top 50px left 15px no-repeat;
}

.advantages__block--idea {
  background: url(../img/info/idea-bg.svg) top 50px left 15px no-repeat;
}

.advantages__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.29;
  color: #202020;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.advantages__text {
  opacity: 1;
}

.advantages__text:not(:last-child) {
  margin-bottom: 25px;
}

.advantages__picture {
  max-width: 667px;
}

.advantages__img {
  width: 100%;
}

.no-webp .reviews{
  background: url(../img/reviews/bg.jpg) center/cover no-repeat; }

.reviews {
  padding: 38px 0 82px;
}

.reviews__container {
  max-width: 940px;
  margin: 0 auto;
  color: #FFFFFF;
  opacity: 1;
}

.reviews__title {
  text-align: center;
  max-width: 383px;
  margin: 0 auto;
  margin-bottom: 48px;
  color: #FFFFFF;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
  margin: 0 -10px;
}

.reviews__item {
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

.reviews__card {
  max-width: 300px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 35px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.reviews__person-photo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.reviews__person-img {
  width: 100%;
  border-radius: 50%;
}

.reviews__person-block {
  font-weight: 600;
}

.reviews__person-special {
  opacity: 0.5;
}

.reviews__text {
  padding-top: 55px;
  text-align: center;
  position: relative;
}

.reviews__text::before {
  content: "“";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.38;
}

.footer {
  padding: 19px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
  opacity: 1;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 45px;
  margin: 0 -14px;
}

.footer__item {
  padding: 0 14px;
}

.footer__link {
  text-transform: capitalize;
}

@media (max-width: 1200.98px) {
  [class*=__container] {
    max-width: 970px;
  }

  .header__block {
    max-width: 450px;
  }

  .header__picture {
    max-width: 400px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .header__title {
    font-size: 40px;
  }

  .header__top {
    margin-bottom: 90px;
  }
}

@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }

  .header__top {
    margin-bottom: 50px;
  }

  .header__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__user {
    display: block;
  }

  .header__btn {
    display: none;
  }

  .header__slider-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__block {
    max-width: 100%;
    text-align: center;
  }

  .header__subtitle {
    margin-bottom: 30px;
  }

  .specialised {
    background: none;
  }

  .specialised__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .advantages {
    padding: 40px 0 20px;
  }

  .advantages__item:nth-child(2n) .advantages__block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .advantages__item:nth-child(2n) .advantages__picture {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .advantages__block {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .advantages__picture {
    max-width: 400px;
    margin: 0 auto;
  }

  .reviews__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}

@media (max-width: 700.98px) {
  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .header__title {
    font-size: 30px;
  }

  .header {
    padding-bottom: 25%;
  }

  .advantages {
    background-image: none;
  }
}

@media (max-width: 590.98px) {
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 479.98px) {
  .header__burger,
  .header__burger::before,
  .header__burger::after {
    width: 30px;
    height: 3px;
  }

  .header__user {
    width: 30px;
  }

  .header__picture {
    display: none;
  }

  .header__slider-inner {
    margin-right: 0;
  }

  .header__dots {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 -5px;
    left: 60%;
    -webkit-transform: translateX(-50%) translateY(130px);
        -ms-transform: translateX(-50%) translateY(130px);
            transform: translateX(-50%) translateY(130px);
  }

  .header__dots .slick-active button {
    height: 15px;
    width: 7px;
  }

  .header__dots li {
    padding: 0 5px;
  }

  .header__title {
    font-size: 25px;
  }

  .header__subtitle {
    font-size: 20px;
  }

  .specialised__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .reviews__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .reviews__card {
    max-width: 100%;
  }

  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 -10px;
    padding: 0 15px;
  }

  .footer__item {
    padding: 0 10px;
  }
}

@media (max-width: 350.98px) {
  .title {
    font-size: 30px;
  }

  .advantages__title {
    font-size: 28px;
  }
}

.webp .header{ background: url(../img/header/bg.webp) bottom center/cover no-repeat; }

.webp .reviews{ background: url(../img/reviews/bg.webp) center/cover no-repeat; }