/*Брейкпоинты (для адаптива)*/
/*$md1:math.div($maxWidthContainer + $containerPadding, 16) + em; //пк, ноутбуки
$md2:math.div(991.98, 16) + em; //планшеты
$md3:math.div(767.98, 16) + em; //телефоны
$md4:math.div(479.98, 16) + em; //маленькие телефоны
*/

/*       Базовая не изменяемая часть      */
/*----------------------------------------*/
@media(max-width:1400.98px){
    .news .slick-next{
        right: 0;
    }
    .news .slick-prev{
        left: 0;
    }

    .news .slick-dots{
        margin-left: 90px;
    }

    .news__item{
        margin-left: 90px;
    }

    .news__title{
        padding-top: 110px;
    }

    .news__description{
        margin-bottom: 110px;
    }
}

@media(max-width:1340.98px){
    .magic__info{
        padding: 70px 0;
    }
}

@media(max-width:1200.98px){
    [class*='__container']{
        max-width: 970px;
    } 
    .magic {
        background-size: 50%; 
    }
    .magic__info{
        padding-left: 40px;
    }

    .magic__title{
        font-size: 48px;
    }

    .portfolio__nav{
        margin-right: 0;
        margin-bottom: 50px;
    }
    
}

@media(max-width:1100.98px){
    .about__container{
        flex-direction: column;
    }

    .title {
        margin-bottom: 40px;
        font-size: 48px;
    }

    .about {
        padding: 90px 0;
    }

    .expertise {
        padding: 90px 0;
    }

    .portfolio {
        padding: 90px 0;
    }

    .portfolio__nav{
        flex-direction: column;
    }

    .portfolio__title{
        align-self: flex-start;
    }

    .team{
        padding: 90px 0;
    }

    .plans{
        padding: 90px 0;
    }

    .clients{
        padding: 90px 0;
    }

    .touch{
        padding: 90px 0;
    }

    .touch__btn{
        margin-bottom: 0;
    }

    .footer{
        padding: 90px 0;
    }

}

@media(max-width:992.98px){
    [class*='__container']{
        max-width: 750px;
    }  

    .expertise__item{
        flex: 0 0 50%;
    }

    .magic{
        background-image: none;
    }

    .magic__info{
        margin-left: 0;
        max-width: 100%;
    }

    .portfolio__blockquote{
        padding: 90px 0;
    }

    .portfolio__cite{
        margin-bottom: 0;
    }

    .portfolio__nums{
        padding: 50px 0;
    }

    .news__title{
        font-size: 30px;
    }

    .news__items{
        max-width: 600px;
        margin-right: 50px;
    }

    .clients__items{
        justify-content: center;
    }
    .touch{
        background-image: none;
    }

    .touch__form{
        max-width: 100%;
    }
}

@media(max-width:767.98px){
    [class*='__container']{
        max-width: none;
    }  

    .header__items{
        padding-top: 90px;
        position: absolute;
        top: 0;
        bottom: -60px;
        right: 0;
        left: 0;
        background:#242121;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translateY(-130%);
        transition: all 0.3s;
    }

    .header__item{
        color: #FFFFFF;
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }

    .intro__title{
        font-size: 50px;
    }

    .header__burger {
        display: block;
    }

    .header__nav--active{

        & .header__items{
            transform: translateY(0);
        }

        & .header__burger{
            background: #FFFFFF;
            &::after{
                background: #FFFFFF;
            }
    
            &::before{
                background: #FFFFFF;
            }
        }

        & .header__logo path{
            fill: #FFFFFF;
        }
    }  
    
    .expertise__block{
        flex-direction: column;
        margin-bottom: 90px;
    }

    .expertise__graph{
        margin-bottom: 30px;
    }

    .expertise__graph-items{
        width: 100%;
    }

    .portfolio__works{
        column-count: 2;
        margin-bottom: 20px;
    }

    .news .slick-dots{
        margin-left: 0;
    }

    .news__item{
        margin-left: 0;
    }

    .news__description{
        margin-bottom: 50px;
    }

    .team__item{
        flex: 0 0 50%;
    }
}  

@media(max-width:600.98px){
    .news__title{
        font-size: 20px;
    }

    .plans__item{
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media(max-width: 517.98px){
    .expertise__item{
        flex: 0 0 100%;
    }
}

@media(max-width:450.98px){
    .intro__title{
        font-size: 35px;
    }

    .intro__subtitle{
        font-size: 12px;
    }

    .title{
        font-size: 30px;
    }

    .news__title{
        font-size: 18px;
    }

    .team__item{
        flex: 0 0 100%;
    }
}

/*----------------------------------------*/
