@charset "UTF-8";
/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;500;700&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px; /* по умолчанию */
}

body {
  line-height: 1;
  font-family: "Roboto";
  background: #f5f5f5;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*---------------------*/
[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Для контейнера картинок в карточках - технический класс*/
[class*=__ibg] {
  position: relative;
  /*Для самих картинок в карточках технический класс*/
}
[class*=__ibg] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*---------------------*/
body {
  font-family: "Open Sans", sans-serif;
  background-color: #FFFFFF;
  color: #373A39;
  font-size: 14px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.25;
  letter-spacing: -1.65px;
  color: #242121;
  padding-bottom: 18px;
  position: relative;
}
.title::before {
  content: "";
  width: 60px;
  height: 4px;
  background: #FCBB08;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header {
  padding-bottom: 29px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #FFFFFF;
  z-index: 100;
}
.header__burger {
  width: 40px;
  height: 5px;
  background: #1D1D1D;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
  margin-top: 10px;
  z-index: 2;
  display: none;
}
.header__burger::before {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background: #1D1D1D;
  position: absolute;
  top: 10px;
  left: 0;
}
.header__burger::after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background: #1D1D1D;
  position: absolute;
  top: -10px;
  left: 0;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  position: relative;
  z-index: 2;
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  margin: 0 -16px;
}
.header__item {
  padding: 0 16px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.6px;
  color: #373A39;
  text-transform: uppercase;
}
.header__link {
  padding: 0 9px 9px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.header__link:hover {
  border-bottom: 1px solid #FCBB08;
}

.intro {
  font-family: "Montserrat", sans-serif;
  padding-top: 242px;
  padding-bottom: 62px;
  background: url(../img/main/intro/header-bg.jpg) bottom center/cover no-repeat;
  min-height: calc(100vh - 93px);
}
.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 95px;
}
.intro__title {
  font-weight: 500;
  font-size: 72px;
  line-height: 1.2;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 18.5px;
}
.intro__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 2.74286px;
  color: #FCBB08;
  text-transform: uppercase;
  margin-bottom: 179.5px;
}
.about {
  padding-top: 143px;
  padding-bottom: 159px;
  background-color: #F6F8FA;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__title {
  font-size: 48px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.about__block {
  max-width: 770px;
}
.about__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;
  color: #373A39;
}
.about__text:not(:last-child) {
  margin-bottom: 25px;
}

.expertise {
  padding-top: 143px;
  padding-bottom: 164px;
}
.expertise__title {
  margin-bottom: 89px;
}
.expertise__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 110px;
}
.expertise__block-right {
  max-width: 770px;
}
.expertise__block-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;
  color: #373A39;
}
.expertise__block-text:not(:last-child) {
  margin-bottom: 25px;
}
.expertise__graph {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.expertise__graph-items {
  width: 370px;
  margin-right: 30px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.expertise__graph-item {
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1D1D1D;
  padding-top: 2px;
  border-top: 2px solid #1D1D1D;
  position: relative;
}
.expertise__graph-item:not(:last-child) {
  margin-bottom: 28px;
}
.expertise__graph-num {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 7px;
}
.expertise__graph-num::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -7px;
  width: 100%;
  height: 2px;
  background-color: #F0F0F0;
}
.expertise__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -15px;
}
.expertise__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
}
.expertise__name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 4.2875px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 18px;
}
.expertise__info {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;
  color: #777777;
}

.magic {
  background: #F6F8FA;
  background-image: url(../img/main/magic/dog.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left center;
}
.magic__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.magic__info {
  max-width: 470px;
  margin-left: auto;
  padding: 100px 0 190px;
}
.magic__title {
  margin-bottom: 67px;
}
.magic__block {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;
  color: #373A39;
}
.magic__text:not(:last-child) {
  margin-bottom: 25px;
}

.portfolio {
  padding-top: 140px;
}
.portfolio__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 68px;
  margin-bottom: 103px;
}
.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  margin: 0 12.5px;
}
.portfolio__item {
  padding: 0 12.5px;
}
.portfolio__link {
  padding: 0 5px 5px;
  background: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 2px;
  color: #333333;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.portfolio__link:hover {
  border-bottom: 1px solid #FCBB08;
}
.portfolio .mixitup-control-active {
  border-bottom: 1px solid #FCBB08;
}
.portfolio__works {
  margin-bottom: 50px;
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}
.portfolio__work {
  margin-bottom: 22px;
  position: relative;
}
.portfolio__work:hover .portfolio__work-link {
  opacity: 1;
}
.portfolio__img {
  width: 100%;
}
.portfolio__work-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: #FFFFFF;
  background-color: #4C4A4A;
  border: 15px solid #7D7C7C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  cursor: pointer;
}
.portfolio__btn {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1.2px;
  color: #242121;
  text-transform: uppercase;
  text-align: center;
  background: #F6F8FA;
  padding-top: 42px;
  padding-bottom: 42px;
}
.portfolio__blockquote {
  padding-top: 130px;
  max-width: 652px;
  text-align: center;
  margin: 0 auto;
}
.portfolio__blockquote p {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 2;
  color: #242121;
  margin-bottom: 50px;
}
.portfolio__cite {
  display: block;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 2.29;
  color: #9E9E9E;
  margin-bottom: 148px;
}
.portfolio__video {
  position: relative;
  background: url(../img/main/video/video.jpg) center/cover no-repeat;
  height: 324px;
  width: 100%;
}
.portfolio__video-link {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 55px;
  height: 65px;
  background: url(../img/main/video/play.svg) center/cover no-repeat;
}
.portfolio__nums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  padding-top: 164px;
  padding-bottom: 165px;
}
.portfolio__num {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0 90px;
  text-align: center;
}
.portfolio__number {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: #242121;
  margin-bottom: 9px;
}
.portfolio__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.357;
  color: #333333;
  text-transform: capitalize;
}

.news {
  background: #F8F6FA;
}
.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.news__link {
  cursor: pointer;
}
.news__title {
  padding-top: 359px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.44;
  color: #242121;
  text-transform: uppercase;
  margin-bottom: 10px;
  max-width: 705px;
}
.news__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;
  color: #373A39;
  max-width: 560px;
  margin-bottom: 191px;
}
.news .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 13.65px;
     -moz-column-gap: 13.65px;
          column-gap: 13.65px;
  padding-bottom: 114px;
}
.news .slick-dots button {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #242121;
  opacity: 0.4;
  font-size: 0;
}
.news .slick-active button {
  width: 10px;
  height: 10px;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.news .slick-prev,
.news .slick-next {
  background: transparent;
  cursor: pointer;
}
.news .slick-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -90px;
}
.news .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -90px;
}

.team {
  padding-top: 120px;
  padding-bottom: 132px;
}
.team__title {
  margin-bottom: 102px;
}
.team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  margin: 0 -15px;
}
.team__item {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
}
.team__ibg {
  padding: 0 0 119% 0;
  margin-bottom: 35px;
}
.team__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 12px;
}
.team__info {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: #373A39;
}

.plans {
  padding-top: 144px;
  padding-bottom: 162px;
  background: #F6F8FA;
}
.plans__title {
  margin-bottom: 91px;
}
.plans__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  margin: 0 -15px;
}
.plans__item {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  max-width: 370px;
}

.price {
  background: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 53px;
  padding-left: 24px;
  padding-right: 25px;
}
.price__container {
  overflow: hidden;
}
.price__tarif {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;
  color: #242121;
}
.price__amount {
  font-weight: 300;
  font-size: 80px;
  line-height: 1.375;
  text-align: center;
  color: #242121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 51px;
}
.price__amount span {
  margin-right: 5px;
  font-size: 40px;
  line-height: 1.35;
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
}
.price__items {
  margin-bottom: 69px;
  text-align: center;
}
.price__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  color: #242121;
}
.price__item:not(:last-child) {
  margin-bottom: 30px;
}
.price__btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #242121;
  display: block;
}

.clients {
  padding-top: 70px;
  padding-bottom: 95px;
}
.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -27.5px;
}
.clients__item {
  padding: 0 27.5px;
}
.touch {
  padding-top: 145px;
  background: #FFFFFF;
  background-image: url(../img/main/touch/map.jpg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right 65%;
}
.touch__title {
  margin-bottom: 94px;
}
.touch__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 570px;
}
.touch__input {
  padding-bottom: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 3.70909px;
  outline: none;
  border-bottom: 2px solid #373A39;
}
.touch__input:not(:last-child) {
  margin-bottom: 32px;
}
.touch__input::-webkit-input-placeholder {
  color: #B8B8B8;
  text-transform: uppercase;
}
.touch__input::-moz-placeholder {
  color: #B8B8B8;
  text-transform: uppercase;
}
.touch__input:-ms-input-placeholder {
  color: #B8B8B8;
  text-transform: uppercase;
}
.touch__input::-ms-input-placeholder {
  color: #B8B8B8;
  text-transform: uppercase;
}
.touch__input::placeholder {
  color: #B8B8B8;
  text-transform: uppercase;
}
.touch__text {
  margin-top: 21px;
  padding-bottom: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 3.70909px;
  outline: none;
  border-bottom: 2px solid #373A39;
  resize: none;
  margin-bottom: 40px;
  min-height: 138px;
}
.touch__text::-webkit-input-placeholder {
  color: #B8B8B8;
  text-transform: uppercase;
}
.touch__text::-moz-placeholder {
  color: #B8B8B8;
  text-transform: uppercase;
}
.touch__text:-ms-input-placeholder {
  color: #B8B8B8;
  text-transform: uppercase;
}
.touch__text::-ms-input-placeholder {
  color: #B8B8B8;
  text-transform: uppercase;
}
.touch__text::placeholder {
  color: #B8B8B8;
  text-transform: uppercase;
}
.touch__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 17px 70px;
  background: #242121;
  cursor: pointer;
  margin-bottom: 162px;
}

.footer {
  background: #333333;
  padding-top: 110px;
}
.footer__container {
  text-align: center;
}
.footer__logo {
  margin-bottom: 72px;
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  margin: 0 -14px;
  margin-bottom: 65px;
}
.footer__item {
  padding: 0 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 4px;
  color: #FFFFFF;
}
.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.29;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
  margin-bottom: 57px;
}
.footer__btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 17px;
  height: 9px;
  background: url(../img/footer/icon/arrow.svg) center/cover no-repeat;
  cursor: pointer;
}
.footer__copyright {
  background: #2A2C2B;
  padding: 42px 0;
}
.footer__copyright p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #CCCCCC;
}

/*Брейкпоинты (для адаптива)*/
/*$md1:math.div($maxWidthContainer + $containerPadding, 16) + em; //пк, ноутбуки
$md2:math.div(991.98, 16) + em; //планшеты
$md3:math.div(767.98, 16) + em; //телефоны
$md4:math.div(479.98, 16) + em; //маленькие телефоны
*/
/*       Базовая не изменяемая часть      */
/*----------------------------------------*/
@media (max-width: 1400.98px) {
  .news .slick-next {
    right: 0;
  }
  .news .slick-prev {
    left: 0;
  }
  .news .slick-dots {
    margin-left: 90px;
  }
  .news__item {
    margin-left: 90px;
  }
  .news__title {
    padding-top: 110px;
  }
  .news__description {
    margin-bottom: 110px;
  }
}
@media (max-width: 1340.98px) {
  .magic__info {
    padding: 70px 0;
  }
}
@media (max-width: 1200.98px) {
  [class*=__container] {
    max-width: 970px;
  }
  .magic {
    background-size: 50%;
  }
  .magic__info {
    padding-left: 40px;
  }
  .magic__title {
    font-size: 48px;
  }
  .portfolio__nav {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
@media (max-width: 1100.98px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title {
    margin-bottom: 40px;
    font-size: 48px;
  }
  .about {
    padding: 90px 0;
  }
  .expertise {
    padding: 90px 0;
  }
  .portfolio {
    padding: 90px 0;
  }
  .portfolio__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .team {
    padding: 90px 0;
  }
  .plans {
    padding: 90px 0;
  }
  .clients {
    padding: 90px 0;
  }
  .touch {
    padding: 90px 0;
  }
  .touch__btn {
    margin-bottom: 0;
  }
}
@media (max-width: 992.98px) {
  [class*=__container] {
    max-width: 750px;
  }
  .expertise__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .magic {
    background-image: none;
  }
  .magic__info {
    margin-left: 0;
    max-width: 100%;
  }
  .portfolio__blockquote {
    padding: 90px 0;
  }
  .portfolio__cite {
    margin-bottom: 0;
  }
  .portfolio__nums {
    padding: 50px 0;
  }
  .news__title {
    font-size: 30px;
  }
  .news__items {
    max-width: 600px;
    margin-right: 50px;
  }
  .clients__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .touch {
    background-image: none;
  }
  .touch__form {
    max-width: 100%;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
  .header__items {
    padding-top: 90px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #242121;
    -webkit-transform: translateY(-130%);
        -ms-transform: translateY(-130%);
            transform: translateY(-130%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
    text-align: center;
    padding-bottom: 50px;
  }
  .header__item {
    color: #FFFFFF;
  }
  .header__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .intro__title {
    font-size: 50px;
  }
  .header__burger {
    display: block;
  }
  .header__nav--active .header__items {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .header__nav--active .header__burger {
    background: #FFFFFF;
  }
  .header__nav--active .header__burger::after {
    background: #FFFFFF;
  }
  .header__nav--active .header__burger::before {
    background: #FFFFFF;
  }
  .header__nav--active .header__logo path {
    fill: #FFFFFF;
  }
  .expertise__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 90px;
  }
  .expertise__graph {
    margin-bottom: 30px;
  }
  .expertise__graph-items {
    width: 100%;
  }
  .portfolio__works {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    margin-bottom: 20px;
  }
  .news .slick-dots {
    margin-left: 0;
  }
  .news__item {
    margin-left: 0;
  }
  .news__description {
    margin-bottom: 50px;
  }
  .team__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (max-width: 600.98px) {
  .news__title {
    font-size: 20px;
  }
  .plans__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
  }
}
@media (max-width: 517.98px) {
  .expertise__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
@media (max-width: 450.98px) {
  .intro__title {
    font-size: 35px;
  }
  .intro__subtitle {
    font-size: 12px;
  }
  .title {
    font-size: 30px;
  }
  .news__title {
    font-size: 18px;
  }
  .team__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
/*----------------------------------------*/