@media(max-width:1590.98px){
    .cinema__title{
        font-size: 80px;
    }
}

@media(max-width:1200.98px){
    .cinema__items{
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 100px;
    }
}

@media(max-width:1100.98px){
    .intro__name{
        font-size: 40px;
        margin-right: 30px;
    }

    .intro__btn-see{
        padding: 20px 80px;
    }
}

@media(max-width:991.98px){

    .intro__name{
        font-size: 30px;
    }

    .intro__btn-see{
        padding: 20px 50px;
    }

    .intro__btn-play{
        padding: 20px;
    }

    .cinema__title{
        font-size: 60px;
    }
}

@media(max-width:850.98px){
    .cinema__items{
        grid-template-columns: repeat(2, 1fr);
    }

    .cinema__title{
        font-size: 50px;
    }
}

@media(max-width:720px){
    .intro__btn-see{
        flex: 1 1 auto;
        text-align: center;
    }
}

@media (max-width:650px) {
    .cinema__title{
        font-size: 40px;
    }
}

@media(max-width:620.98px){
    .header__logo{
        order: 1;
    }

    .header__search{
        order: 3;
        margin-right: 0;
        width: 100%;
    }
    .header__burger{
        order: 2;
    }

    .header__items{
        top: 250px;
    }

    .cinema__items{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px 0;
        margin: 50px;
    }

    .cinema__item{
        margin: 0 auto;

        &:nth-child(2n){
            margin-top: 0;
        }
    }

    .cinema__title{
        font-size: 30px;
    }

    .cinema__btn{
        padding: 20px 30px;
    }
}

@media (max-width:450px) {

    .intro__content{
        align-items: center;
    }

    .intro__name{
        order: 1;
        flex: 1 1 auto;
    }

    .intro__subtitle{
        order: 3;
        padding: 0;
        margin-right: 0;
    }

    .intro__btn-see{
        order: 4;
        margin-right: 0;
    }

    .intro__btn-play{
        order: 2;
        padding: 15px 20px;

        svg{
            width: 20px;
            height: 20px;
            viewBox: "0 0 20 20";
        }
    }

    .cinema__title{
        font-size: 25px;
        text-align: center;
    }

    .cinema__title span{
        margin-left: 0;
    }
}



