@charset "UTF-8";
/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px; /* по умолчанию */
}

body {
  line-height: 1;
  font-family: "Roboto";
  background: #f5f5f5;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*---------------------*/
[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Для контейнера картинок в карточках - технический класс*/
[class*=__ibg] {
  position: relative;
  /*Для самих картинок в карточках технический класс*/
}
[class*=__ibg] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*---------------------*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f8;
  color: #999999;
  font-size: 15px;
  line-height: 1.6;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.logo {
  width: 90px;
  height: 30px;
}
.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding: 30px 0;
  background: url(../images/header/bg.jpg) center/cover no-repeat;
  min-height: 100vh;
  color: #ffffff;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
  margin-bottom: 150px;
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 40px;
  margin: 0 -25px;
}
.header__item {
  padding: 0 25px;
}
.header__link {
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__link:hover {
  border-bottom: 3px solid #fce38a;
  color: #fce38a;
}
.header__link--active {
  border-bottom: 3px solid #fce38a;
  color: #fce38a;
}
.header__btn svg {
  fill: #ffffff;
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.header__btn:hover svg {
  fill: #fce38a;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 150px;
}
.header__subtitle {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  margin-bottom: 10px;
}
.header__title {
  max-width: 850px;
  font-size: 150px;
  line-height: 1.07;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 120px;
}
.header__title::after {
  content: "";
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
  width: 60px;
  height: 3px;
  background: #ffffff;
  margin: 0 auto;
}
.header__more {
  display: inline-block;
  border: 3px solid #ffffff;
  padding: 12px 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__more:hover {
  opacity: 0.7;
}
.header__puginations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.header__pugination {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.28;
  padding-top: 25px;
  border-top: 3px solid #ffffff;
  opacity: 0.7;
  position: relative;
}
.header__pugination:hover {
  border-top: 3px solid #ffffff;
  opacity: 1;
  cursor: pointer;
}
.header__pugination:hover span::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  width: 70px;
  height: 3px;
  background-color: #f38181;
  z-index: 10;
}
.header__pugination--active {
  border-top: 3px solid #ffffff;
  opacity: 1;
}
.header__pugination--active span::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  width: 70px;
  height: 3px;
  background-color: #f38181;
  z-index: 10;
}
.header__num {
  font-size: 24px;
  font-weight: 700;
}

.subtitle {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333333;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 40px;
  position: relative;
}
.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background: #f38181;
}

.about {
  padding: 90px 0 0;
}
.about__subtitle {
  margin-bottom: 20px;
}
.about__title {
  margin-bottom: 50px;
}
.about__text {
  font-family: "Roboto", sans-serif;
  text-align: center;
  max-width: 950px;
  margin: 0 auto;
}
.about__items {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  background: #000000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.about__item:hover {
  background: #95e1d3;
}
.about__item:hover .about__block {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}
.about__item:hover .about__description {
  opacity: 1;
}
.about__block {
  display: block;
  cursor: pointer;
  position: relative;
}
.about__description {
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.937254902)), to(rgba(252, 227, 138, 0.9254901961)));
  background: -o-linear-gradient(rgba(243, 129, 129, 0.937254902), rgba(252, 227, 138, 0.9254901961));
  background: linear-gradient(rgba(243, 129, 129, 0.937254902), rgba(252, 227, 138, 0.9254901961));
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  opacity: 0;
}
.about__description-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  position: relative;
  padding-top: 40px;
}
.about__description-name::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 35px;
  height: 32px;
  background: url(../images/main/about/users.svg) center/contain no-repeat;
}
.about__ibg {
  padding: 0px 0px 65% 0px;
}
.about__advantages {
  background: #95e1d3;
}
.about__numbers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 30px;
  text-align: center;
  color: #ffffff;
}
.about__number {
  padding: 80px 0;
  font-weight: 700;
  font-size: 72px;
  border: 1px solid #b5eae0;
  border-top: none;
  border-bottom: none;
}
.about__number span {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}

.services {
  padding: 100px 0;
}
.services__title {
  margin-bottom: 60px;
}
.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -20px;
  row-gap: 80px;
}
.services__item {
  padding: 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}
.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.services__img {
  max-width: 32px;
  max-height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 25px;
}
.services__name {
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.line {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
}

/*Брейкпоинты (для адаптива)*/
/*$md1:math.div($maxWidthContainer + $containerPadding, 16) + em; //пк, ноутбуки
$md2:math.div(991.98, 16) + em; //планшеты
$md3:math.div(767.98, 16) + em; //телефоны
$md4:math.div(479.98, 16) + em; //маленькие телефоны
*/
/*       Базовая не изменяемая часть      */
/*----------------------------------------*/
@media (max-width: 1140.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
/*----------------------------------------*/